@page "/"
@using System.Net.NetworkInformation
@inject IPrinterData printerData

<PageTitle>Springwood Toyota Printer</PageTitle>


@if (printers is not null) {
    <PrinterList Items= "printers" ColumsToExclude="Id,Editing,Site"></PrinterList>

}
else {
      <h1>"Loading"</h1>
}

@code{
    private List<PrinterModel>? printers=new List<PrinterModel>();

    protected override async Task OnInitializedAsync() {
        printers=  await printerData.GetSpringwoodToyotaPrinters();

    }
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        //
        await printerData.PingPrinters(printers);
        StateHasChanged();
        //return base.OnAfterRenderAsync(firstRender);
    }




    }





