@page "/"
@page "/printers/{parentPath:int}"

@using System.Net.NetworkInformation
@inject IPrinterData printerData

<PageTitle>@SiteName</PageTitle>

<h1>@SiteName Printers list</h1>
@if (printers is not null) {
    <CascadingValue Name="ParentPath" Value="@parentPath">
    <PrinterList Items= "printers" ColumsToExclude="Id,Editing,SiteId"></PrinterList>
        </CascadingValue>
}
else {
      <h1>"Loading"</h1>
}

@code{
    private List<PrinterModel>? printers=new List<PrinterModel>();
    [Parameter]
    public int parentPath { get; set; } 
    public string SiteName = string.Empty;
    protected override async Task OnInitializedAsync() {
        printers = await printerData.GetPrintersBySiteId(parentPath);
    }
    protected override async void OnParametersSet() {
        printers = await printerData.GetPrintersBySiteId(parentPath);
        SiteName = printers.FirstOrDefault().Site?.Name;
        StateHasChanged();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        //
        await printerData.PingPrinters(printers);
        StateHasChanged();
    }




    }





