@page "/"
@page "/SpringwoodToyota"
@using System.Net.NetworkInformation
@inject IPrinterData printerData

<PageTitle>Springwood Toyota Printer</PageTitle>

<h1>Springwood Toyota Printer</h1>
@if (printers is not null) {
    <CascadingValue Name="ParentPath" Value="@parentPath">
    <PrinterList Items= "printers" ColumsToExclude="Id,Editing,Site"></PrinterList>
        </CascadingValue>
}
else {
      <h1>"Loading"</h1>
}

@code{
    private List<PrinterModel>? printers=new List<PrinterModel>();
    private string parentPath { get; set; } = "SpringwoodToyota";
    protected override async Task OnInitializedAsync() {
        printers=  await printerData.GetSpringwoodPrinters();

    }
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        //
        await printerData.PingPrinters(printers);
        StateHasChanged();
        //return base.OnAfterRenderAsync(firstRender);
    }




    }





